<div class="header-block block">
    <div class="container">
    <div class='row text-{{fields.align}}'>
        <h1 class="heading col col-12">{{ fields.heading }}</h1>
        <h2 class="subheading col col-12">{{ fields.subheading }}</h2>
    </div>
    </div>
</div>
