

<div class="paragraph-block block">
    <div class="container">
    <div class='row'>
    <div class='col col-12 text-{{fields.align}}'>
    <p>{{fields.paragraph}}</p>
    </div>
       </div>
    </div>
</div>